@import "ui-variables";
@import "syntax-variables";
@import "mixins";

// @resize-color: #fe1a5e;
@resize-duration: 300ms;
@resize-color: @background-color-info;
@drag-color: @background-color-info;
@panel-min-size: 1em;
@handle-size: 1.33rem;
@resize-handle-size: @handle-size / 2;
@drag-handle-size: @handle-size * 2;


atom-panel.left:not(:empty),
atom-panel.right:not(:empty),
atom-panel.mutation-preview {
  max-width: 40vw;
  min-width: @panel-min-size }

atom-panel.top:not(:empty),
atom-panel.bottom:not(:empty),
atom-panel.mutation-preview {
  max-height: 40vh;
  min-height: @panel-min-size }

atom-panel.mutating {
  display: none }

.boss.btn ~ .boss.btn {
  display: none }


atom-panel > * {
  transition-property: width, height;
  transition-duration: 0s }

atom-panel {
  transition-property: width, height, max-width, max-height;
  transition-duration: @resize-duration }

atom-panel-container atom-panel.mutation-preview {
  z-index: 1000 !important;
  max-width: 100%;
  max-height: 100%;
  min-width: @panel-min-size;
  min-height: @panel-min-size;
  transition-property: width, height;
  transition-duration: @resize-duration;
  background: fade(@resize-color, 15%) !important }

.h(@c, @s, @r) {
  @d: ~".@{c} > atom-panel-container > atom-panel.@{s}";
  @{d} { @r(); }
}

.h(horizontal, collapse, {
  max-width: 6em;
  overflow: hidden });

.h(vertical, collapse, {
  max-height: 6em;
  overflow: hidden });

atom-panel .btn.boss {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
  .ico(x, 2);
  .boss-menu.btn;
}

.boss-menu.btn {
  @size: 4rem;
  @fontsize: 1.5rem;

  border-radius: 0 !important;
  background: black !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;

  width: @size !important;
  height: @size !important;
  font-size: @fontsize !important;
  line-height: @size !important;
}

.panel-boss-active {
  cursor: -webkit-grabbing !important;
  -webkit-user-select: none }

.drag-handle {
  .ico(grabber, 2);
  cursor: -webkit-grab !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1500;
  text-align: center;
  background: fade(@drag-color, 10%) !important;
  width: @drag-handle-size;
  line-height: @drag-handle-size;
  height: @drag-handle-size !important }

atom-panel-container:hover atom-panel .drag-handle,
atom-panel-container:hover atom-panel .resize-handle {
  opacity: 1;
  transition-delay: 0.2s;
  transition-duration: 0.5s }

atom-panel .drag-handle {
  opacity: 0;
  transition: opacity @resize-duration 1s }

// Try to hide initial resize handles
atom-panel > * [class*='resize']:not(:only-child):empty {
  display: none }
atom-panel > * {
  height: 100% }

atom-panel .resize-handle {
  position: absolute;
  background: transparent;
  opacity: 0;
  transition: opacity @resize-duration 1s;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background: fade(@resize-color, 50%);
    width: 100%;
    height: 100%;
    margin: 0 }

  atom-panel-container.left & {
    .horizontal(@resize-handle-size, right) }
  atom-panel-container.right & {
    .horizontal(@resize-handle-size, left) }
  atom-panel-container.top & {
    .vertical(@resize-handle-size, bottom) }
  atom-panel-container.bottom & {
    .vertical(@resize-handle-size, top) }
}

atom-panel.left .resize-handle {  right:  0 !important }
atom-panel.right .resize-handle { left:   0 !important }
atom-panel.top .resize-handle { bottom:   0 !important }
atom-panel.bottom .resize-handle { top:   0 !important }
