@import (reference) "boss-variables";
@import (reference) "mixins";
@import "controls";


atom-panel.left:not(:empty),
atom-panel.right:not(:empty),
atom-panel.mutation-preview {
  max-width: 40vw;
  min-width: @panel-min-size }

atom-panel.top:not(:empty),
atom-panel.bottom:not(:empty),
atom-panel.mutation-preview {
  max-height: 40vh;
  min-height: @panel-min-size }

atom-panel {
  transition-property: width, height, max-width, max-height;
  transition-duration: @resize-duration }

atom-panel > * {
  transition-property: width, height;
  transition-duration: 0s }

atom-panel-container atom-panel.mutation-preview {
  z-index:      1000 !important;
  max-width:    100%;
  max-height:   100%;
  min-width:    @panel-min-size;
  min-height:   @panel-min-size;
  background:   fade(@resize-color, 15%) !important;
  transition-property: width, height;
  transition-duration: 0s }

.container-axis(horizontal, collapse, {
  max-width: 6em;
  overflow: hidden
});

.container-axis(vertical, collapse, 6em);

// Try to hide initial resize handles
// Also hide currently mutated objects
atom-panel.mutating,
atom-panel > * [class*='resize']:not(:only-child):empty {
  display: none }

atom-panel > * {
  overflow: auto;
  width: 100%;
  height: 100% }
