// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

@handle-size: 1.33em;
@resize-duration: 300ms;
@resize-accent-color: #fe1a5e;

atom-panel > * {
  transition-property: width, height;
  transition-duration: @resize-duration }

atom-panel-container > atom-panel.mutation-preview {
  position: fixed !important;
  z-index: 1000 !important;
  background: fade(@resize-accent-color, 25%) !important }

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: blue;
  height: 4em !important;
}

.drag-preview.left {
  top: 0;
  bottom: 0;
  left: 0;
}
.drag-preview.right {
  top: 0;
  bottom: 0;
  right: 0;
}
.drag-preview.top {
  top: 0;
  left: 0;
  right: 0;
}
.drag-preview.bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

atom-panel-container:hover atom-panel .resize-handle {
  opacity: 1;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  background: fade(@resize-accent-color, 2%) !important }

atom-panel .resize-handle {
  position: absolute;
  background: transparent;
  opacity: 0;
  transition: opacity @resize-duration 1s;
  z-index: 10;

  &::before {
    content: "";
    display: block;
    background: fade(@resize-accent-color, 50%);
    width: auto;
    height: 100%;
    margin: 0 @handle-size / 2.1;
  }

  atom-panel-container.left &,
  atom-panel-container.right & {

    &::before {
      width: 1px }

    cursor: col-resize;
    width: @handle-size !important;
    height: 100% !important }

  atom-panel-container.top &,
  atom-panel-container.bottom & {

    &::before {
      margin: @handle-size / 2.1 0;
      height: 1px }

    cursor: row-resize;
    height: @handle-size !important;
    width: 100% !important }}

atom-panel.left .resize-handle {
  right: -@handle-size / 2 !important;
  top: 0 !important;
  bottom: 0 !important }

atom-panel.right .resize-handle {
  left: -@handle-size / 2 !important;
  top: 0 !important;
  bottom: 0 !important }

atom-panel.top .resize-handle {
  bottom: -@handle-size / 2 !important;
  left: 0 !important;
  right: 0 !important }

atom-panel.bottom .resize-handle {
  top: -@handle-size / 2 !important;
  left: 0 !important;
  right: 0 !important }

dev-console {
  @line-height: 1.75em;
  overflow-y: auto;

  code {
    font-size: 10px;
    font-family: Source Code Pro;
    font-weight: 300;
    line-height: @line-height;
    flex-direction: column-reverse;
    display: flex }

  article {
    display: block;
    padding: 0 0 @component-padding }

  &::-webkit-scrollbar {
    background: transparent;
    width: 6px !important }

  &::-webkit-scrollbar-thumb {
    background: #f33e3e !important }

  &::-webkit-scrollbar-track {
    background: rgba(232, 80, 189, 0.02) !important }

  .key:hover {
    background: red }
  @key: #f0425c;
  .sep {
    opacity: 0.5 }
  .key {
    font-weight: 500;
    line-height: @line-height;
    vertical-align: middle;
    color: @key }
  .key .sep {
    color: @key }
  .value {
    line-height: @line-height;
    vertical-align: middle;
    overflow: hidden }
  .key.number {
    color: mix(#66fd97, @key) }
  .value.number {
    color: #66fd97 }
  .array {
    color: #94def3 }
  .indent {
    padding-left: 0 }
  .indent .indent {
    padding-left: 1em }
  .indent.open {
    > .value {
      max-height: none }}}
